<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:replace="common/adminCommon :: adminScript"></script>
    <style>
        #editor{

        }
    </style>
</head>
<body>
<form class="layui-form" action="">
    <input type="hidden" name="articleId" th:value="${article!= null ? article.articleId:''}"></input>
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" name="articleTitle" required  th:value="${article}!=null?${article.articleTitle}:''" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">简要描述</label>
        <div class="layui-input-block">
            <textarea required name="articleDescribe" placeholder="请输入简述" class="layui-textarea">[[${article}!=null?${article.articleDescribe}:'']]</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">分类</label>
        <div class="layui-input-block">
            <select name="articleType" lay-verify="required" th:if="${article}!=null">
                <option value="原创" th:selected="${article.articleType} eq '原创'">原创</option>
                <option value="转载" th:selected="${article.articleType} eq '转载'">转载</option>
            </select>
            <select name="articleType" lay-verify="required" th:if="${article}==null">
                <option value="原创">原创</option>
                <option value="转载">转载</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block">
<!--
            <textarea required name="articleContent" placeholder="请输入内容" class="layui-textarea">[[${article}!=null?${article.articleContent}:'']]</textarea>
-->
            <div id="editor" th:utext="${article!= null ? article.articleContent:''}" style="height: 100%">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="articleForm">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script th:inline="javascript">
    var layer,editor;
    var E = window.wangEditor
    editor = new E('#editor')
    //上传图片到服务器
    editor.customConfig.uploadImgServer = '/upload';
    editor.customConfig.uploadFileName = 'myFile';
    editor.customConfig.uploadImgTimeout = 300000


    //自定义上传图片事件
    editor.customConfig.uploadImgHooks = {
        before : function(xhr, editor, files) {

        },
        success : function(xhr, editor, result) {
            console.log("上传成功");
        },
        fail : function(xhr, editor, result) {
            console.log("上传失败,原因是"+result);
        },
        error : function(xhr, editor) {
            console.log("上传出错");
        },
        timeout : function(xhr, editor) {
            console.log("上传超时");
        }
    }
    editor.create()
    layui.use(['form','layer'], function(){
        var form = layui.form;
        layer = layui.layer;
        //监听提交
        form.on('submit(articleForm)', function(data){
            //获取 quill编辑器内容
            var articleContent = editor.txt.html();
            if(!articleContent){
                layer.msg("请输入文章内容");
                return false;
            }
            data.field.articleContent=articleContent;
            console.log(data);
            $.ajax(
                {
                url:"/admin/article/addOrUpdate"
                , type: "POST"
                , data:data.field
                , dataType:"json"
                , success:function(data){
                        console.log(data);
                        if(data.code=="1"){
                            //保存成功
                            layer.msg("保存成功");
                            //移除当前选中的高亮菜单样式 layui-this
                            $(".layui-this",parent.document).each(function () {
                                $(this).removeClass("layui-this");
                            })
                            //给文章列表添加高亮样式
                            $("#articleListButton",parent.document).addClass("layui-this");
                            $("#articleListButton",parent.document).click();
                        }else{
                            layer.msg("保存失败");
                        }
                    }
                }
            )
            return false;
        });
    });



</script>

</body>
</html>